.fade-in {
  animation: fadeIn .8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
    transform: scale(.9, 0.9);
  }
  100% {
    opacity: 1;
  }
}

.flex-grid{
  display: flex;
  justify-content: space-between;
  
}
.flex-grid .col {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.movieList {
  
  overflow: scroll;
  height: 900px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;

}
.movieList img {
  max-width: 45%;
  height:auto;

}

.movieList a img:hover {
  position:absolute;
  top:0px;
}
.cardContainer {
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:500px) {
  .flex-grid {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
}
* {
  box-sizing: border-box;
}

.flex-grid { 
  margin: 0 0 20px 0;
}
.col {
  background: white;
  padding: 20px;
}


