*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  image-rendering: auto;
  image-rendering: crisp-edges;

  image-rendering: -webkit-optimize-contrast;
  background: center center fixed; 
  background-color: darkcyan;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
  padding: 20px;
  font-family:  'Roboto', sans-serif;
}

select {
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
:root {
  --select-border: #777;;
}
.select {
  width: 50%;
  min-width: 15ch;
  max-width: 30ch;
  border: 2px solid var(--select-border);
  border-radius: 0em;
  padding: 0.4em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

input {
  transition-duration: 0.2s;
}

input:hover {
  width: 50%;

  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: .2em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color:  #555555;
  color: #f5f7f7
}

input {
  width: 50%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: .2em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;

}



h1 {
  font-family: 'Elsie Swash Caps', cursive, sans-serif;
}
h2 {
  font-family: 'Roboto', sans-serif;

}




.flex-grid { 
  margin: 0 0 20px 0;
  
}

.col {
 
  padding: 20px;
}


.fade-in {
  animation: fadeIn .8s;
}

.movie-card #large {

  border: 5px solid #fff;
  border-radius: .2em;
  max-width: 85%;
}
@keyframes fadeIn {
  0% {
    opacity: 0.1;
    transform: scale(.9, 0.9);
  }
  100% {
    opacity: 1;
  }
}

.flex-grid{
  display: flex;
  justify-content: space-between;
  
}
.flex-grid .col {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.movieList {
  
  overflow: scroll;
  height: 900px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;

}

.movieList img {
  max-width: 45%;
  height:auto;

}


.cardContainer {
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:500px) {
  .flex-grid {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
}
}

/* making the popup form */
.openBtn {
  display: flex;
  justify-content: left;
}
.openButton {
  border: none;
  border-radius: 5px;
  background-color: #1c87c9;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
  position: fixed;
}
.popup {
  position: relative;
  text-align: center;
  width: 100%;
}
.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}
.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}

.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}
.formContainer .cancel {
  background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
/* 

  @media screen and (min-width:600px) {
    .container {
      flex-wrap: nowrap;
    }
    .left {
      justify-content: space-between
      margin-left: auto
      flex-basis: 200px;
      order: 1;
    }
    .middle {
      justify-content: space-between
      margin-left: auto
      flex-basis: 1;
      order: 2;
    }
    .right {
      justify-content: space-between
      margin-left: auto
      flex-basis: 200px;
      order: 3;
    }
  } */ 
