.fade-in {
  animation: fadeIn .5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
    transform: scale(0.9, 0.9);
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
git p
}
.row {  
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.side {
flex: 20%;
align-items: center;
justify-content: center;
margin-top: 200px;
margin-left: 50px;
}

.main {
  flex: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}